--extra-index-url https://download.pytorch.org/whl/cpu

# Versiones CPU-only (sin soporte para NVIDIA) - Ajustadas para CPU antiguas
torch==1.13.1+cpu
torchvision==0.14.1+cpu
torchaudio==0.13.1+cpu

# YOLO y Streamlit (sin forzar dependencias GPU) - Mantendremos estas versiones por ahora
ultralytics==8.2.0
streamlit==1.34.0

# Procesamiento de imágenes (ligero) - Ajustadas para CPU antiguas y resuelta dependencia de numpy
opencv-python-headless==4.5.5.64
pillow==10.3.0
numpy==1.21.2